@import "variables.less";
@import "mixins.less";

body {
	background: @backgroundColor;
}

.pagecontainer {


}

.excerpt {
	
}

/* Links ------------------*/

a {
	color: @linkColor;

	&:hover {
		color: @linkHoverColor;
	}

	&:active {
		color: @linkHoverColor;
	}

	&:visited {
		color: @linkHoverColor;
	}
}

/* Headings ---------------*/

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/* Text -------------------*/

p {
	color: @defaultTextColor;
}

.intro {

}

blockquote {

}

address {

}


/* Lists ------------------*/

ul {

	li {

	}

}

ol {

	li {

	}

}

/* Tables -----------------*/

table {
	
	tr {

	}

	td {

	}
}


/* Forms ------------------*/

form {

	label {

	}

	input {

	}

	input[type="checkbox"] {

	}

	input[type="radio"] {

	}

	input[type="email"] {

	}

	input[type="password"] {

	}

	input[type="search"] {

	}

	input[type="text"] {

	}

	input[type="url"] {

	}

	input[type="submit"] {

	}
	
}

/* Border -----------------*/

hr {

}

/* Images -----------------*/

img {
	width: 100%;
	border: none;
}


/* Date and time */

.date {}